body {
  margin: 0 0 55px 0;
  cursor: default;
  
}

@media print {
  html, body {
     display: none;  /* hide whole page */
  }
}
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 10px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}


.nav__icon {
  font-size: 10px;
}
.liketdwidth{
  width: 15px;
  padding: 0px;
  padding-left: 5px;
  padding-bottom: 0;
}
.likeIcon{
  color: rgba(35, 211, 158, 0.959);
}
.material-icons{
  font-size: 15px;
  
}
.svgverify{
  padding-left: 0px;
  padding-bottom : -100px;
  margin-bottom : 10px
}

.collection-icon{
  padding-bottom: -20px;
  margin-bottom: -10px;
  font-size: 20px;
  color: #485a8a;
  float: right;
}
.card{
  background-color: white; 
  color: black;
}
.liketable{
  margin-left: 5px;
  margin-top: 5px;
}

.commentSection{
  margin: 0px;
}

.singin-form{
  padding: 10px;
  margin: 10px;
}

.text-center{
  text-align: center;
}
.welcome-text{
  font-family: fantasy;
}
.warning{
  color: crimson;
}
.edit-icon{
  padding-bottom: -20px;
  margin-bottom: -10px;
  font-size: 20px;
  color: #485a8a;
  float: right;
}
.text-adject{
  margin-left: 5px;
  position: absolute;
}

.fixed-action-btn{
  margin-bottom: 40px;
}
.align-item-center{
  align-content: center;
  align-self: center;
  margin-left: 40%;
  position: relative;
}
.search-nav{
  border-bottom: 2px solid;
  padding: 5px;
}
.search-result-text{
  padding-right: 5px;
}
.success{
  color: springgreen;
}
.table{
  border: none;
}
.heading{
  font-size: 15px;
  /* color: #379be5; */
  text-decoration: solid;
}
.mt-5{
  margin-top: 5%;
}
.ml-5{
  margin-left: 5%;
}
.joining-section{
  margin-bottom: 10px;
  color: dimgray;
}
.notice{
  color: dimgray;
}
.justify{
  text-align: justify;
}
/* .card{
  background: linear-gradient(to right, #ef32d9, #89fffd);
} */

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 50px;
  height: 25px;
  margin-top: 10px;
  border-radius: 40px;
  outline: #ffffff;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  border-radius: 40px;
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 40px;
	border: none;
}
input {
  border:  none;
}
.card{
  overflow-x: inherit;
  padding: 0;
}
#postInput{
  overflow-wrap: break-word;
}
tr {
  border-bottom: none;
}
.bm0{
  margin-bottom: 0;
  padding-bottom: 0;
}
.template{
  height: 30px;
  width: 60px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.mb-5{
  margin-bottom: 10px;
}
.template-box{
  height: 150px;
  overflow-y: scroll;
  padding: 5px ;
  border: 0.5px solid rgb(192, 192, 192);
}

.template-text{
  height: 30px;
  width: 30px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.profile-nav {
  padding: 0px;
  margin: 0px;
}

.profile-nav a{
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  color : #7f7f7f
}
.search-card-content{
  padding: 5px;
  margin: 5px;
  /* border: 1px solid black; */
  
}
.p2{
  padding: 2px;
}
.m5{
  margin: 8px;
}
.authername{
  width: 15px;
  overflow: hidden;
  padding-left: 0px;
  margin-right: 20px;
}
.commentitextarea{
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #d2d2d2;
  border-radius: 0;
  outline: none;
  height: auto;
  width: 100%;
  font-size: 13px;
  margin: 0 0 8px 0;
  padding: 5px 5px 5px 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.description-text{
  white-space: pre-line;
}
.svg{
  height: 80px;
  width: 80px;
  float: right;
}
.dateoncard{
  float: right;
  font-size: 10px;
}

.navbar{
  overflow: hidden;
  background-color: #333;
  position: fixed;
  transition: top 0.3s;
  height: 50px;
}
.delete-ok-button{
  float: right ;
  margin-top: -5px
}

.delete-cancel {
  float: right;
  padding-right:  10px;
}

.displayNone {
  display: none;
}


.joinbth{
  width: 100% ;
  margin-bottom: 10px;
}

.logo-name {
  font-family: 'Lobster', cursive;
  padding-left: 10px;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid  #26a69a;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
  text-align: center;
  margin-left: 40%;
  margin-top: 20px;
  
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loadbtn{
  width : 70%;
  padding : 6px;
  border-radius : 10px;
  border : 1px solid black;
  font-size: 13px;
  margin : auto;
}

.loadbtnshell{
  padding-top: 10px;
  padding-bottom: 50px;
  margin-bottom:  20px;
  margin-top: 10px;
}

.mini-title{
  margin-left: 10px;
  font-weight: bold;
}

input[type="search"]::-webkit-search-cancel-button{ display: none; }

textarea {
  resize: vertical;
}